{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% macro role_list(roles_list) -%}
  {% for r in roles_list %}
    | {{ r.name }} |
  {% endfor %}
{%- endmacro %}

{% block content %}
<div class="container">

<h1>{% block title %}Admin{% endblock %}</h1>
  
<div class="dropdown">
    <button class="btn btn-secondary btn-space dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Actions
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" href="{{ url_for ('admin.link') }}">Link Accounts </a>
      <a class="dropdown-item" href="{{ url_for ('admin.new_user') }}">Create User </a>
      <a class="dropdown-item" href="{{ url_for ('admin.edit_user') }}">Edit User </a>
    </div>
  </div>
  
  <div>
      <table class="table table-striped table-bordered" style="width:100%">

  
  <thead>
      <tr>
        <th scope="col">id</th>
        <th scope="col">username</th>
        <th scope="col">Roles</th>
        <th scope="col">Linked File</th>
        <th scope="col">Last Confirmed At</th>
        <th scope="col">Last Login</th>
        <th scope="col">Active</th>
        
      </tr>
    </thead>
    <tbody>
      {% for user in users %}
      <tr>
        <td>{{ user.id }}</td>
        <td>{{ user.username }}</td>
        <td>{{ role_list(user.roles) }}</td>
        <td>{{ user.member.username }}</td>
        <td>{{ user.confirmed_at }}</td>
        <td>{{ user.last_login }}</td>
        <td>{{ user.active }}</td>

      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
</div>

{% endblock %}

