<div>
<footer class="page-footer font-small blue">
  
    <div class="row">
        <div class="col-xs-12 col-md-4">
                    
        </div>
        <div class="col-md-4">
          <p>
            <div id = "copyright" class="footer-copyright text-center py-3">
           
            </div> 
          </p>
          
        </div>
        <div class="col-md-4">
          <p><ul class="list-unstyled">
              <li>
                <a href="https://x51squadron.com">Public Site</a>
              </li>
              <li>
                <a href="https://news.x51squadron.com">News Blog</a>
              </li>
              <li>
                <a href="http://discord.x51squadron.com">Discord</a>
              </li>
              <li>
                <a href="https://news.x51squadron.com/privacy-policy-hq-x51squadron-com/">Privacy Policy</a>
              </li>
            </ul></p>
          
        </div>
      </div>
  </footer>
</div>
<script>
    var date = new Date();
    var y = date.getFullYear();
    $("#copyright").html(
      ' © '+y+' Copyright: <a href="https://gitlab.com/LanceMaverick"> =X51= Wazzerbosh</a>'
    )
</script>