{% extends 'base.html' %}
{% set active_page = "kneeboard" %}


{% block content %}

<div class="container">
  <div class="card bg-danger">
    <div card-header style="color: white"><h1>CONFIRM DELETION</h1></div>
    <div class="card card-body">
      <h2 class="card-title">Are you sure you want to delete {{ flight.name }}?</h2>
      <h4 class="card-text"> This action cannot be undone!</h4>
      <div class="flex-row">
      <form action="{{ url_for('kneeboard.delete_flight', flight_id=flight.id) }}" method=post>
      <input class="btn btn-danger" type=submit value="DELETE"> <a class="btn btn-success" href="{{ url_for('kneeboard.kboard', kb_id=kb_id)}}">GO BACK</a> </form> 
    </div>
  </div>
</div>
{% endblock %}