{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}
{% from  'macros/macros.html' import action %}
{% set active_page = "kneeboard" %}



{% block content %}
<h1>{% block title %}Available Mission Cards{% endblock %}</h1>

<div class="container">
        <a class="btn btn-secondary btn-space"
        href="{{ url_for('kneeboard.new_kb') }}">Create New Mission Card</a>
    <table class="table table-striped table-bordered" style="width:100%" id="kbTable">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Mission</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for kb in kbs %}
                <tr>                
                    <td scope="row">{{ kb.id }}</td>
                    <td scope="row">{{ kb.title }}</td>
                    <td scope="row">
                        <a class="mr-5", href="{{ url_for('kneeboard.kboard', kb_id=kb.id) }}">{{ action('view', 'card') }}</a>
                        <a href="{{ url_for('kneeboard.delete_kb', kb_id=kb.id) }}">{{ action('delete', 'card') }}</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<script>
    $(document).ready( function () {
        $('#kbTable').DataTable({
            'pageLength': 50});
    } );
</script>
{% endblock %}