{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}
{% from  'macros/macros.html' import action %}
{% set active_page = "kneeboard" %}




{% block content %}
<h1>{% block title %}Add New Entity{% endblock %}</h1>
<div class="container-fluid h-100 bg-light text-dark">

    {% if form.errors %}
       {{ form.errors }}
    {% endif %}
    <div class="container">
      <div class="row">
        <div class="col-sm">
          {{ wtf.quick_form(form, id="form") }}
        </div>
      </div>
    </div>

<script>
    // get form and role field
    var form = document.getElementById('form');
    var role = form.elements.type;
    
    //on first load, disable alt field as initial choice is "AIRBASE"
    window.onload = function () {
        form.elements.alt.disabled = true;
    };

    //when role is changed, enable all fields, then change which
    // are disabled based on role choice
    role.onchange = function () {
        var form = this.form;
        form.elements.freq.disabled = false;
        form.elements.rwy.disabled = false;
        form.elements.ils.disabled = false;
        form.elements.tacan.disabled = false;
        form.elements.alt.disabled = false;
        if (this.value === 'airbase') {
            form.elements.alt.disabled = true;
        } else if (this.value === 'farp') {
            form.elements.alt.disabled = true;
            form.elements.rwy.disabled = true;
            form.elements.tacan.disabled = true;
            form.elements.ils.disabled = true;
        } else if (this.value === 'tanker') {
            form.elements.rwy.disabled = true;
            form.elements.ils.disabled = true;
        } else if (this.value === 'controller') {
            form.elements.rwy.disabled = true;
            form.elements.tacan.disabled = true;
            form.elements.ils.disabled = true;
            form.elements.alt.disabled = true;
        }
    };
</script>
{% endblock %}
