<h3>Briefing Summary: </h3>
        ddd <br><br>
        <h3>Rules of Engagement and SPINS: </h3>
        ddd <br><br>

        <h4 style="text-align:center">Flights</h2>
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Airframe</th>
                    <th scope="col">Task</th>
                    <th scope="col">Frequency (MHz AM)</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                
            </tbody>
        </table>
        
        <h4 style="text-align:center">Airbases</h2>
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Frequency (MHz AM)</th>
                    <th scope="col">RWY</th>
                    <th scope="col">ILS</th>
                    <th scope="col">TACAN</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                
            </tbody>
        </table>

        <h4 style="text-align:center">FARPS</h2>
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Frequency (MHz AM)</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                
            </tbody>
        </table>

        <h4 style="text-align:center">Controllers</h2>
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Frequency (MHz AM)</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                
            </tbody>
        </table>

        <h4 style="text-align:center">Tankers</h2>
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Frequency (MHz AM)</th>
                    <th scope="col">Altitude (FT)</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                
            </tbody>
        </table>