@import "variables";

html {
    position: relative;
    min-height: 100%;
  }
body {
    margin-bottom: 100px; /* Margin bottom by footer height */
    font-family: 'PT Sans', sans-serif;
    background-color: $bg-color;
  }
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px; /* Set the fixed height of the footer here */
    line-height: 0px; /* Vertically center the text there */
    background-image: linear-gradient( 0deg,  rgba(131, 1, 1, 0.411) 1%, rgba(187,187,187,0) 70.9% );
    padding: 0 15px;
}
footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    //background-color: #333333;
}
  
footer li {
    float: left;
}
  
footer li a {
    display: block;
    //color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}
/* 
footer li a:hover {
   background-image: linear-gradient( 359.3deg,  rgba(196,214,252,1) 1%, rgba(187,187,187,0) 70.9% );
}
*/
  /*
html {
      position: relative;
      //min-height: 100%;
      height: 100%;
      
}
*/
.table-striped>tbody>tr:nth-child(odd)>td, 
.table-striped>tbody>tr:nth-child(odd)>th {
    //background color here
}

.navbar-dark {
    background-color: $logo-color;
}
wrapper {

    min-height:100vh;
}
.x51-success {background-color: $success-color !important;}
.x51-warning {background-color: $warning-color !important;}
.x51-danger {background-color: $danger-color !important;}

.flex-fill {
    flex: 1 1 auto;
}
h1 {
    
    text-align: center;

    }
.title h2 {
    color: rgba(119, 89, 89, 0.8);
    font-size: 40px;
    text-align: center;
}


a:link {
    color: $x51red;
}
a:hover {
    color: $x51-light-red;
}

a:visited {
    color: $x51-dark-red;
}

a.btn {
    color: white;
}
a.btn:visited {
    color: white;
}


//.img{
//    opacity: 0.5;
//}

video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
}



.container {
    flex: 1;
    position: relative;
}

.card {
    background-color: $bg-color;
}

.card.dark {
    background-color: $logo-color;
}
.btn.sharp {
    border-radius:0;
    //        background-color: gold;
}
.fa {
    font-size: 44px;
    color: white;
}
.cover {
    padding: 0 1.5rem;
}
.cover .btn-lg {
    padding: .75rem 1.25rem;
    font-weight: 700;
}
.row {
    display: flex; /* equal height of the children */
}

.col {
    flex: 1; /* additionally, equal width */

    padding: 1em;
    border: solid;
}
.fade.in {
    opacity: 1;
}

td i{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
td{
    text-align: center;
}

td.center{
    align: center;
}
.center{
    text-align: center;
}


.btn-space{
    margin-right: 5px;
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.accordionHeader{
    text-align: center;
}




success {
    background-color: #b70000
}

.wrapper {
    border-radius: 5px;
    background-color: #fff4e6;
}

.wrapper > div {
    border: 2px solid #ffa94d;
    border-radius: 5px;
    
    padding: 1em;
    color: #d9480f;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}

.card-img-top {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100px;
    height: auto;
}

.award-card {
    background-color: #ffd8a8;
}


//user login card //



