@import "variables";

img.gicon{
    width: 40px;
    height: 40px;
}
img.gicon-large{
    width: 60px;
    height: 60px;
}
img.ricon-large{
    height: 60px;
}

img.award-large{
    width: 100px;
}

//action icons
.fa-eye{
    color: blue;
}
.fa-edit{
    color: green;
}
.fa-trash-alt{
    color: red;
}