{% extends 'base.html' %}
{% set active_page = "awards" %}
{% from  'macros/macros.html' import award_card %}



{% block content %}
<div class ="container">
        <h1>{% block title %}Available Awards{% endblock %}</h1>
        <a href="/awards/create_award" class="btn btn-info btn-space">Create New Award</a>     
        <div class="wrapper">
                {% for award in awards %}
                  <div> {{ award_card(award) }} </div>
                {% endfor %}
            </div> 
  
    
</div>

{% endblock %}