$theme-colors: (
  "primary": #e01c1c
);
$bg-color: #000000;
$text-color: grey;
$x51red: #b70000;
//$bg-color: rgb(255, 255, 255);
$ft-color: rgba(233, 233, 233, 0.678);
@import "../node_modules/bootstrap/scss/_functions.scss";
@import "../node_modules/bootstrap/scss/_variables.scss";
//@import "./_customvariables.scss";
@import "../node_modules/bootstrap/scss/bootstrap.scss";
$assetPath : "/images";
html {
      position: relative;
      min-height: 100%;
}
wrapper {

    min-height:100vh;
}

#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #ff0000;
  border-radius: 50%;
  border-top: 16px solid #ffffff;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 } 
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
  from{ bottom:-100px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}

//.modal {
//    color: black;
//}

.paraTop {
    min-height: 900px;
    background-attachment: fixed;
    background-size: cover;
    background-position: 50% 50%;
}
.paral {
    min-height: 400px;
    background-attachment: fixed;
    background-size: cover;
    background-position: 50% 50%;
}
.paral p {
font-size: 24px;
color:#f5f5f5;
text-align: center;
line-height: 60px;
}
.paral h1 {
color: rgba(255, 255, 255, 0.8);
font-size: 60px;
text-align: center;
padding-top: 60px;
line-height: 100px;
}

.jumbotron{margin-bottom: 0;}

.flex-fill {
    flex: 1 1 auto;
}
.title h1 {
    color: rgba(255, 255, 255, 0.8);
    font-size: 60px;
    text-align: center;
    }
.title h2 {
    color: rgba(255, 255, 255, 0.8);
    font-size: 40px;
    text-align: center;
}
    
body {
    background: $bg-color;
    color: $text-color;
    font-family: Anton;
    //font-family: 'Roboto', sans-serif;
    min-height:100vh;

.modal-backdrop
{
    background-color: red;
    opacity: 0.5 !important;
}
//.modal-content {
//    background-color: black
//}
//.input {
//    background-color: $bg-color
//}

.img{
    opacity: 0.5;
}

video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
}

#jumbovideo {
    //padding-top: 30px;
    //padding-bottom: 30px;
    //margin-bottom: 30px;
    color: inherit;
    background-color: #eee;
    height: 800px;
    overflow: hidden;
    position: relative;
    background-attachment: fixed;
}

.container {
    position: relative;
}





/*
.jumbotron {
color: black;
height: 200px;
display: flex;
align-items: center;
text-align: left;
background-size: cover;
background-repeat: no-repeat;
background-position: center;
margin:  0px;
background-color: $x51red;
//      padding-left: 50px
//  background-image: url-loader("../images/Logo_Black_transparent_red2.png") center center;
}
 */
.card.dark {
    background-color: black;
}
.footer{
    position: absolute;
    width:100%;
    text-align:center;
    background-color: $x51red;
}
.btn.sharp {
    border-radius:0;
    //        background-color: gold;
}
.fa {
    font-size: 44px;
    color: white;
}
.cover {
    padding: 0 1.5rem;
}
.cover .btn-lg {
    padding: .75rem 1.25rem;
    font-weight: 700;
}
.row {
    display: flex; /* equal height of the children */
}

.col {
    flex: 1; /* additionally, equal width */

    padding: 1em;
    border: solid;
}
.fade.in {
    opacity: 1;
}
.modal.in .modal-dialog {
    -webkit-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
}
.modal-backdrop.in {
    opacity: 0.5;
}
}
