
{% extends 'base.html' %}

{% block content %}
<h1>{% block title %}DCS BRIEFING ROOM{% endblock %}</h1>

{% if officer == True %}
<iframe width="100%" height="650px" src="https://awwapp.com/b/uvfqkg8go/"></iframe>
{% else %}
<iframe width="100%" height="650px" src="https://awwapp.com/b/uvfqkg8go/"></iframe>
{% endif %}
{% endblock %}