{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}
{% from  'macros/macros.html' import action %}
{% set active_page = "archives" %}



{% block content %}
<h1>{% block title %}Available Archives{% endblock %}</h1>

<div class="container">
        <a class="btn btn-secondary btn-space"
        href="{{ url_for('archives.upload_archive') }}">Upload Archive</a>
    <table class="table table-striped table-bordered" style="width:100%" id="archiveTable">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Description</th>
                <th scope="col">File</th>
                <th scope="col">Upload Date</th>
                <th scope="col">Uploader</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for archive in archives %}
                <tr>                
                    <td scope="row">{{ archive.id }}</td>
                    <td scope="row">{{ archive.name }}</td>
                    <td scope="row">{{ archive.description }}</td>
                    <td scope="row">
                        <a href="/static/instance/uploads/archives/{{ archive.file }}"><i class="fas fa-download" data-toggle="tooltip" data-placement="top" title="download {{ archive.name }}"></i></a>
                        <button onclick="copyDownloadLink('/static/instance/uploads/archives/{{ archive.file | safe }}')" class="btn btn-space"><i class="far fa-copy"></i></button>
                    </td>
                    <td scope="row">{{ archive.date.strftime('%Y-%m-%d') }}</td>
                    <td scope="row">{{ archive.user.username }}</td>
                    <td><a href="/archives/delete/{{ archive.id }}">{{ action('delete', "archive") }}</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<script>
    $(document).ready( function () {
        $('#archiveTable').DataTable({
            'pageLength': 50});
    } );

    function copyDownloadLink(link) {
        var url = "https://" + location.host.split(":")[0] + link;
        navigator.clipboard.writeText(url).then(function() {
                console.log('link copied: '+url)
              }, function() {
                console.log('link copy failed: '+url)
              });
    }
</script>
{% endblock %}