{% macro action(name, type) -%}
    {% if name =="delete" %}
        {% set icon = "fas fa-trash-alt" %}
        {% set desc = ["delete", type]|join(' ') %}
    {% elif name =="edit" %}
        {% set icon = "far fa-edit" %}
        {% set desc = ["edit", type]|join(' ') %}
    {% elif name =="view" %}
        {% set icon = "fas fa-eye" %}
        {% set desc = ["view", type, "details" ]|join(' ') %}
    {% elif name =="copy" %}
        {% set icon = "far fa-copy" %}
        {% set desc = ["copy", type ]|join(' ') %}
    {% endif %}
    
    <i class ="{{ icon }}" data-toggle="tooltip" data-placement="top" title="{{ desc }}"></i></a>
    
{%- endmacro %}

{% macro award_card(award) -%}
<a href="/awards/award/{{ award.id }}">
    <div class="card text-center award-card">
            <img class="card-img-top" src="/static/instance/uploads/images/awards/{{ award.icon_url }}" alt="award logo">
        <div class="card-body">
                <h5 class="card-title">{{ award.name }}</h5>
          <p class="card-text">{{ nl2br(award.description) | safe }}</p>
          <p class="card-text"><small class="text-muted">Category: {{ award.category }}</small></p>
        </div>
      </div>
</a>
{%- endmacro %}

{% macro delete_modal(id, message) -%}
<div class="modal fade" id="deleteModal">
        <div class="modal-dialog">
          <div class="modal-content">
          
            <!-- Modal Header -->
            <div class="modal-header">
              <h4 class="modal-title">Confirm Delete</h4>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            
            <!-- Modal body -->
            <div class="modal-body">
              Are you sure you want to delete {{ message }}?
            </div>
            
            <!-- Modal footer -->
            <div class="modal-footer">
            <form method="post" action="{{ url_for(missions.delete_mission, mission_id = id) }}">    
              <button value="{{ id }}" type="submit" class="btn btn-danger" data-dismiss="modal">Yes</button>
              <button type="button" class="btn btn-success" data-dismiss="modal">No</button>
            </div>
            
          </div>
        </div>
      </div>
{%- endmacro %}


{% macro training_ref(tr) -%}
{% if tr.officers | length == 0 %}
    {% set offref = 0 %}
{% else %}
{% set offref = tr.officers[-1].id %}
{% endif %}
{{ tr.id }}-{{ tr.sim.upper() }}-{{ tr.geozone }}-{{ tr.date.strftime('%Y-%m-%d') }}-{{ offref }}
{%- endmacro %}

