{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %} 


{% block header %}
  
{% endblock %}

{% block content %}
<h1>{% block title %} {% endblock %}</h1>
    <div class="container">
        <div class="card">
            <div class="card-header">Account Management - {{ current_user.username }}</div>
            <div class="card-body"><p>Change Password</p>{{ wtf.quick_form(form) }}</div>
            
        </div>
    </div>
{% endblock %}
