html {
  position: relative;
  min-height: 100%; }

  wrapper {
    min-height: 100vh; }

    #loader {
      position: absolute;
      left: 50%;
      top: 50%;
      z-index: 1;
      width: 150px;
      height: 150px;
      margin: -75px 0 0 -75px;
      border: 16px solid #ff0000;
      border-radius: 50%;
      border-top: 16px solid #ffffff;
      width: 120px;
      height: 120px;
      -webkit-animation: spin 2s linear infinite;
      animation: spin 2s linear infinite; }

      @-webkit-keyframes spin {
        0% {
          -webkit-transform: rotate(0deg);   }
          100% {
            -webkit-transform: rotate(360deg);   }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);   }
    100% {
      transform: rotate(360deg);   }
}

.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s; }

  @-webkit-keyframes animatebottom {
    from {
      bottom: -100px;
      opacity: 0;   }
      to {
        bottom: 0px;
        opacity: 1;   }
}

@keyframes animatebottom {
  from {
    bottom: -100px;
    opacity: 0;   }
    to {
      bottom: 0;
      opacity: 1;   }
}

.paraTop {
  min-height: 900px;
  background-attachment: fixed;
  background-size: cover;
  background-position: 50% 50%; }

  .paral {
    min-height: 400px;
    background-attachment: fixed;
    background-size: cover;
    background-position: 50% 50%; }

    .paral p {
      font-size: 24px;
      color: #f5f5f5;
      text-align: center;
      line-height: 60px; }

      .paral h1 {
        color: rgba(255, 255, 255, 0.8);
        font-size: 60px;
        text-align: center;
        padding-top: 60px;
        line-height: 100px; }

        .jumbotron {
          margin-bottom: 0; }

          .flex-fill {
            flex: 1 1 auto; }

            .title h1 {
              color: rgba(255, 255, 255, 0.8);
              font-size: 60px;
              text-align: center; }

              .title h2 {
                color: rgba(255, 255, 255, 0.8);
                font-size: 40px;
                text-align: center; }

                body {
                  background: #6b3f3f;
                  color: #dbdbdb;
                  font-family: 'Roboto', sans-serif;
                  min-height: 100vh; }
                  body .modal-backdrop {
                    background-color: red;
                    opacity: 0.5 !important; }
                    body .img {
                      opacity: 0.5; }
                      body video {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: auto; }
                        body #jumbovideo {
                          color: inherit;
                          background-color: #eee;
                          height: 800px;
                          overflow: hidden;
                          position: relative;
                          background-attachment: fixed; }
                          body .container {
                            position: relative; }
                            body .card.dark {
                              background-color: black; }
                              body .footer {
                                position: absolute;
                                width: 100%;
                                text-align: center;
                                background-color: #b70000; }
                                body .btn.sharp {
                                  border-radius: 0; }
                                  body .fa {
                                    font-size: 44px;
                                    color: white; }
                                    body .cover {
                                      padding: 0 1.5rem; }
                                      body .cover .btn-lg {
                                        padding: 0.75rem 1.25rem;
                                        font-weight: 700; }
                                        body .row {
                                          display: flex; }
                                          body .col {
                                            flex: 1;
                                            padding: 1em;
                                            border: solid; }
                                            body .fade.in {
                                              opacity: 1; }
                                              body .modal.in .modal-dialog {
                                                -webkit-transform: translate(0, 0);
                                                -o-transform: translate(0, 0);
                                                transform: translate(0, 0); }
                                                body .modal-backdrop.in {
                                                  opacity: 0.5; }
