{% extends 'base.html' %}



{% block content %}

<div class="container">
  <div class="card bg-danger">
    <div card-header style="color: white"><h1>CONFIRM DELETE SORTIE</h1></div>
    <div class="card card-body">
      <h2 class="card-title">Are you sure you want to delete sortie {{ sortie.id }} and all associated combat logs?</h2>
      <h4 class="card-text"> This action cannot be undone!</h4>
      <div class="flex-row">
      <form action="{{ url_for('sorties.delete_sortie', sortie_id=sortie.id) }}" method=post>
      <input class="btn btn-danger" type=submit value="DELETE"> <a class="btn btn-success" href="{{ url_for('sorties.index')}}">GO BACK</a> </form> 
    </div>
  </div>
</div>
{% endblock %}