{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}
{% from  'macros/macros.html' import action %}
{% set active_page = "sorties" %}

{% block content %}
<h1>{% block title %}About X51 Sorties{% endblock %}</h1>

<div class="container">
    <p>
        <br>
        X51 sorties are special flyouts we do with a virtual pilot
        on public PVP servers (IL-2, DCS and War Thunder) where all
        the stats are tracked. Each action, such as kills, assists,
        aircraft losses etc have an effect on the total XP gained by
        your virtual pilot, and therefore, their rank. If your pilot is captured or killed during
        the sortie, they are gone permenantly and you have to create a new one
        with zero XP and starting rank.
        <br>
    </p>
    <h2>Creating a Sortie</h2>
    <p>The sortie is created by lead. They then send the link to all
            participants, who fill in their combat log.
            <br>
            As in real life, these statistics need to be filled in manually.
            You must keep track of your kills, assists and such throughout the sortie
            and, also like in real life, we will be on the look out for exaggerations!
            <br>
            A list of all sorties can be seen on the virtual <a href="{{ url_for('sorties.index') }}">sorties</a> page.
        </p>
        <h2>The Virtual Pilot</h2>
        <p>
            You are allowed one active pilot per allegiance (allies or axis).
            For DCS sorties this will refer to "blue" or "red" sides respectively.
            You can view your current active pilots, and all of your previous dead
            or captured ones on the "<a href="{% if current_user.is_authenticated %} {{ url_for('sorties.user_pilot', user_id=current_user.id) }} {% else %} {{ url_for('auth.login') }} {% endif %}">
                My Pilots</a>" page.
            <br>
        </p>
        <h2>Scoring</h2>
        <p>Each action (kills, assists, aircraft losses etc) comes with either
            a set amount of XP, or an XP modifer. These are currently as follows:
        <br>
        Air kills: 50 XP<br>
        Assists: 10 XP<br>
        Ground kills: 10 XP<br>
        Mission successes: 50 XP<br>
        Mission failures: 20 XP<br>
        
        If you lose your aircraft during the sortie, your XP will be halved.
        If you die or get captured, your pilot gets the XP, but
         you must create a new pilot with 0 starting XP.
        <br>
        </p>
        <h2>Ranks</h2>
        <p>
            As you gain XP, your pilot will automatically "level up" and be promoted.
            The ranks and XP brackets are as follows for WWII allies and axis:
            <br>
            0-100: Lieutenant/Leutnant<br>
            100-300: Senior Lieutenant/Oberleutnant<br>
            300-600: Captain/Hauptmann<br>
            600-1000: Major/Major<br>
            1000-1500: Lieutenant Colonel/Oberstleutnant<br>
            1500+: Colonel/Oberst<br>
            <br>

        </p>
</div>
{% endblock %}