{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}
{% from  'macros/macros.html' import action %}
{% set active_page = "sorties" %}


{% block content %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

<h1>{% block title %}Virtual Sorties Pilot Table{% endblock %}</h1>

<div class="container">
    <ul class="nav nav-tabs">
        <li class="nav-item"><a class="nav-link {{ 'active' if platform == 'il2' else '' }}"  href="{{ url_for('sorties.league', platform='il2') }}">IL-2</a></li>
        <li class="nav-item"><a class="nav-link {{ 'active' if platform == 'wt' else '' }}" href="{{ url_for('sorties.league', platform='wt') }}">War Thunder</a></li>
        <li class="nav-item"><a class="nav-link {{ 'active' if platform == 'dcs' else '' }}" href="{{ url_for('sorties.league', platform='dcs') }}">DCS</a></li>
        <li class="nav-item"><a class="nav-link {{ 'active' if platform == 'arma' else '' }}" href="{{ url_for('sorties.league', platform='arma') }}">Arma</a></li>
      </ul>
      {% for nat, pilots in all_pilots.items() %}
      <h2>{{ sides[nat] }}</h2>
    <table class="table table-striped table-bordered" style="width:100%" id="{{ nat }}Table">
        <thead>
            <tr>
                <th scope="col">Pilot</th>
                <th scope="col">Rank</th>
                <th scope="col">XP</th>
                <th scope="col">Air Kills</th>
                <th scope="col">Air Assists</th>
                <th scope="col">Ground Kills</th>
                <th scope="col">Successful Missions</th>
                <th scope="col">Sorties Flown</th>
                <th scope="col">Username</th>
            </tr>
        </thead>
        <tbody>
            {% for p in pilots %}
            <tr>
                <td scope="row"><a href="{{ url_for('sorties.pilot', pilot_id=p.id) }}">{{ p.name }}</a></td>
                <td scope="row">{{ rankings[p.rank][nat] }}</td>
                <td scope="row">{{ p.xp }}</td>
                <td scope="row">{{ p.air_kills }}</td>
                <td scope="row">{{ p.assists }}</td>
                <td scope="row">{{ p.ground_kills }}</td>
                <td scope="row">{{ p.successes }}</td>
                <td scope="row">{{ p.sorties }}</td>
                <td scope="row"><a href="{{ url_for('sorties.user_pilot', user_id=p.user_id) }}">{{ p.user }}</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endfor %}
</div>
<div class="mb-5 p-5"></div>
<script>
    $(document).ready( function () {
        $('#blueTable').DataTable({
            'pageLength': 20,
            "order": [[ 2, "desc" ]]});
        $('#redTable').DataTable({
            'pageLength': 20,
            "order": [[ 2, "desc" ]]});
        
    });
</script>

{% endblock %}
