{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}
{% from  'macros/macros.html' import action %}
{% set active_page = "sorties" %}



{% block content %}
<h1>{% block title %}Create New Combat Log For {{ current_user.username }} ({{ pilot_name }}) {% endblock %}</h1>
<div class="container-fluid h-100 bg-light text-dark">

    {% if form.errors %}
       {{ form.errors }}
    {% endif %}
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-3">
          {{ wtf.quick_form(form) }}
        </div>
      </div>
    </div>
{% endblock %}
      