{% extends 'base.html' %}
{% from  'macros/macros.html' import action %}
{% set active_page = "sorties" %}
{% block content %}

<h1>{% block title %}Virtual Pilots "{{ pilot.name }}" ({{ user.username }}){% endblock %}</h1>

<div class="container">
        <a class="btn btn-secondary btn-space"
        href="{{ url_for('sorties.user_pilot', user_id = user.id) }}">Back to {{ user.username }}</a>

<div class="row justify-content-center">
    <div class="card text-white bg-success mr-2 mb-3 d-flex justify-content-center" style="max-width: 18rem;">
            <div class="card-header">
                {{ pilot.name }} 
                {% if current_user.id == user.id %}
                    <a class="mr-5", href="{{ url_for('sorties.edit_pilot', pilot_id=pilot.id) }}">{{ action('edit', 'pilot') }}</a>
                {% endif %}
            </div>
            <div class="card-body">
              <h5 class="card-title">{{ pilot.xp }} XP</h5>
              <p class="card-text  justify-content-left">
                    <table class="table-striped">
                            <tbody>
                                <tr><td>Allegiance:</td> <td>{{ pilot.get_side() }} [{{ pilot.platform }}]</td></tr>
                                <tr><td>Rank:</td> <td>{{ rankings[pilot.rank][pilot.nationality] }}</td></tr>
                                <tr><td>Air Kills:</td><td>{{ pilot.air_kills }}</td></tr>
                                <tr><td>Assists:</td><td>{{ pilot.assists }}</td></tr>
                                <tr><td>Ground Kills:</td><td>{{ pilot.ground_kills }}</td></tr>
                                <tr><td>Succesful Missions:</td><td>{{ pilot.successes }}</td></tr>
                                <tr><td>Failed Missions:</td><td>{{ pilot.failures }}</td></tr>
                                <tr><td>Aircraft Ditched:</td><td>{{ pilot.aircraft_losses }}</td></tr>
                                <tr><td>Sorties Flown:</td><td>{{ flights | length }}</td></tr>
                            </tbody>
                        </table>
              </p>
            </div>
    </div>
</div>
    <h2>Combat Log</h2>

        <table class="table table-striped table-bordered" style="width:100%" id="flightTable">
            <thead>
                <tr>
                    <th scope="col">Sortie No.</th>
                    <th scope="col">Date</th>
                    <th scope="col">XP</th>
                    <th scope="col">Air Kills</th>
                    <th scope="col">Air Assists</th>
                    <th scope="col">Ground Kills</th>
                    <th scope="col">Successes</th>
                    <th scope="col">Failures</th>
                    <th scope="col">Aircraft Losses</th>

                </tr>
            </thead>
            <tbody>
                {% for flight in flights %}
                <tr>
                    <td scope="row">{{ flight.sortie_id }}</td>
                    <td scope="row">{{ flight.date.strftime('%Y-%m-%d') }}</td>
                    <td scope="row">{{ flight.xp }}</td>
                    <td scope="row">{{ flight.air_kills }}</td>
                    <td scope="row">{{ flight.assists }}</td>
                    <td scope="row">{{ flight.ground_kills }}</td>
                    <td scope="row">{{ flight.successes }}</td>
                    <td scope="row">{{ flight.failures }}</td>
                    <td scope="row">{{ flight.aircraft_losses }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
</div>
<script>
    $(document).ready( function () {
        $('#flightTable').DataTable({
            'pageLength': 50});
     
        
    });
</script>
{% endblock %}
