{% extends 'base.html' %}
{% set active_page = "sorties" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% from  'macros/macros.html' import action %}
{% block content %}
<div class="container">
        <a class="btn btn-secondary btn-space"
        href="{{ url_for('sorties.new_flight', sortie_id=sortie.id) }}">Add New Combat Log</a>

        <a class="btn btn-secondary btn-space"
        href="{{ url_for('sorties.delete_sortie', sortie_id=sortie.id) }}">Delete Sortie</a>
        <table class="table table-striped table-bordered" style="width:100%" id="sortieTable">
            <thead>
                <tr>
                    <th scope="col">Sortie ID</th>
                    <th scope="col">Sortie Lead</th>
                    <th scope="col">Allegiance</th>
                    <th scope="col">Missions Logs</th>
                    <th scope="col">Total Air Kills</th>
                    <th scope="col">Total Ground Kills</th>
                    <th scope="col">Aircraft Lost</th>
                    <th scope="col">Pilots Lost</th>
                    <th scope="col">Total XP Gained</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td scope="row">{{ sortie.id }}</td>
                    <td scope="row">{{ stats.lead }}</td>
                    <td scope="row">{{ sortie.get_side() }}</td>
                    <td scope="row">{{ stats.num_flights }}</td>
                    <td scope="row">{{ stats.air_kills }}</td>
                    <td scope="row">{{ stats.ground_kills }}</td>
                    <td scope="row">{{ stats.aircraft_losses }}</td>
                    <td scope="row">{{ stats.pilot_losses }}</td>
                    <td scope="row">{{ stats.total_xp }}</td>
                </tr>
            </tbody>
        </table>

        <h2>Combat Logs:</h2>
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th scope="col">Pilot</th>
                    <th scope="col">Air Kills</th>
                    <th scope="col">Assists</th>
                    <th scope="col">Ground Kills</th>
                    <th scope="col">Successes</th>
                    <th scope="col">Failures</th>
                    <th scope="col">Aircraft Lost</th>
                    <th scope="col">XP</th>
                    <th scope="col">Pilot Status</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for flight in flights %}
                 <tr>
                    <td scope="row"><a href="{{ url_for('sorties.user_pilot', user_id = flight.user_id) }}">{{ pilot_dict[flight.pilot_id] }}</a></td>
                    <td scope="row">{{ flight.air_kills }}</td>
                    <td scope="row">{{ flight.assists }}</td>
                    <td scope="row">{{ flight.ground_kills }}</td>
                    <td scope="row">{{ flight.successes }}</td>
                    <td scope="row">{{ flight.failures }}</td>
                    <td scope="row">{{ flight.aircraft_losses }}</td>
                    <td scope="row">{{ flight.xp }}</td>
                    <td scope="row">
                        {% if flight.died %}
                            MIA
                        {% else %}
                            Alive
                        {% endif %}    
                    </td>
                    <td scope="row"><a href="/sorties/flight/delete/{{ flight.id }}">{{ action('delete', 'log') }}</a></td>                    
                </tr>
                {% endfor %}
            </tbody>
        </table>
                
{% endblock %}
