{% extends 'base.html' %}
{% set active_page = "sorties" %}
{% block content %}

<h1>{% block title %}Virtual Pilots for {{ username }}{% endblock %}</h1>

<div class="container">
    {% if current_user.id == user_id %}    
        <a class="btn btn-secondary btn-space"
        href="{{ url_for('sorties.new_pilot') }}">Create Pilot</a>

    {% endif %}    
    <h2>Current Pilots</h2>

<div class="row">
    {% for pilot in current_pilots %}
    <div class="card text-white bg-success mr-2 mb-3 d-flex" style="max-width: 18rem;">
            <div class="card-header"><a class="btn btn-secondary" href="{{ url_for('sorties.pilot', pilot_id=pilot.id) }}">{{ pilot.name }}</a></div>
            <div class="card-body">
              <h5 class="card-title">{{ pilot.xp }} XP</h5>
              <p class="card-text  justify-content-left">
                    <table class="table-striped">
                            <tbody>
                                <tr><td>Allegiance:</td> <td>{{ pilot.get_side() }} [{{ pilot.platform }}]</td></tr>
                                <tr><td>Rank:</td> <td>{{ rankings[pilot.rank][pilot.nationality] }}</td></tr>
                                <tr><td>Air Kills:</td><td>{{ pilot.air_kills }}</td></tr>
                                <tr><td>Assists:</td><td>{{ pilot.assists }}</td></tr>
                                <tr><td>Ground Kills:</td><td>{{ pilot.ground_kills }}</td></tr>
                                <tr><td>Succesful Missions:</td><td>{{ pilot.successes }}</td></tr>
                                <tr><td>Failed Missions:</td><td>{{ pilot.failures }}</td></tr>
                                <tr><td>Aircraft Ditched:</td><td>{{ pilot.aircraft_losses }}</td></tr>
                                <tr><td>Sorties Flown:</td><td>{{ n_flights[pilot.id] }}</td></tr>
                            </tbody>
                        </table>
              </p>
            </div>
    </div>
    {% endfor %}
</div>
    <h2>Past Pilots</h2>
    <div class="row">

    {% for pilot in dead_pilots %}
    <div class="card text-white bg-danger mr-2 mb-3 d-flex" style="max-width: 18rem;">
            <div class="card-header"><a class=" btn btn-secondary" href="{{ url_for('sorties.pilot', pilot_id=pilot.id) }}">{{ pilot.name }}</a></div>
            <div class="card-body">
              <h5 class="card-title">{{ pilot.xp }} XP</h5>
              <p class="card-text justify-content-left">
                    <table class="table-striped">
                            <tbody>
                                <tr><td>Allegiance:</td> <td>{{ pilot.get_side() }} [{{ pilot.platform }}]</td></tr>
                                <tr><td>Rank:</td> <td>{{ rankings[pilot.rank][pilot.nationality] }}</td></tr>
                                <tr><td>Air Kills:</td><td>{{ pilot.air_kills }}</td></tr>
                                <tr><td>Assists:</td><td>{{ pilot.assists }}</td></tr>
                                <tr><td>Ground Kills:</td><td>{{ pilot.ground_kills }}</td></tr>
                                <tr><td>Succesful Missions:</td><td>{{ pilot.successes }}</td></tr>
                                <tr><td>Failed Missions:</td><td>{{ pilot.failures }}</td></tr>
                                <tr><td>Aircraft Ditched:</td><td>{{ pilot.aircraft_losses }}</td></tr>
                                <tr><td>Sorties Flown:</td><td>{{ n_flights[pilot.id] }}</td></tr>
                            </tbody>
                        </table>
              </p>
            </div>
    </div>
    {% endfor %}
    </div>
</div>
{% endblock %}
