{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %} 

{% block content %}
<div class="container">
  <h1>{% block title %}{{ member.username }} Attendance Activity{% endblock %}</h1>
  <div class="alert alert-info center">
    <h3>Select a start and end date to see {{ member.username }}'s activity in that time period </h3>
  </div>
  {% if form.errors %}
    {{ form.errors }}
{% endif %}

<div class="container">
  <div class="row">
    <div class="col-sm">
      {{ wtf.quick_form(form) }}
    </div>
  </div>
</div>

<div>

</div>
    <table class="table table-striped table-bordered" style="width:100%">
        <thead>
            <th>Username</th>
            <th>Main Platform</th>
            <th>Attendance</th>
            <th>Total Trainings Selected</th>
            <th>Attended</th>
        
        <tbody>
            <td><a href=" {{ url_for('members.pilot', pilot_id = member.id) }}">{{ member.username }}</a></td>
            <td>{{ member.req_training }}</td>
            <td class="wrapper">{{ result.attendance | round }}%</td>
            <td>{{ result.n_all_trainings }}</td>
            <td>{{ result.n_user_attended }}</td>
            
        
        </tbody>
    </table>
</div>
<script>
    $( document ).ready(function() {
        $( "#sim" ).prop( "disabled", true );
        $( "#geozone" ).prop( "disabled", true );
        $( "#start_date" ).prop( "disabled", true );
        $( "#end_date" ).prop( "disabled", true );
        $("#required").prop('checked', true);
        $("#all_dates").prop('checked', true);
    });
    $('#required').change(
    function(){
        if ($(this).is(':checked')) {
            $( "#sim" ).prop( "disabled", true );
            $( "#geozone" ).prop( "disabled", true );
        }
        else {
            $( "#sim" ).prop( "disabled", false );
            $( "#geozone" ).prop( "disabled", false );
        }
    });
    $('#all_dates').change(
        function(){
            if ($(this).is(':checked')) {
                $( "#start_date" ).prop( "disabled", true );
                $( "#end_date" ).prop( "disabled", true );
            }
            else {
                $( "#start_date" ).prop( "disabled", false );
                $( "#end_date" ).prop( "disabled", false );
            }
        });
</script>
{% endblock %}