{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}
{% from  'macros/macros.html' import award_card %}
{% block header %}
{% endblock %}


{% block content %}
<h1>{% block title %}Give Award{% endblock %}</h1>
{% if form.errors %}
    {{ form.errors }}
{% endif %}
<div class="container">
  <div class="row">
    <div class="col-sm">
      <form method="post" 
        {% if v=='Give' %} 
          action="{{ url_for('members.give_award', pilot_id=member.id) }}">
        {% else %}
        action="{{ url_for('members.remove_award', pilot_id=member.id) }}"> 
        {% endif %}
          <div class="wrapper">
              {% for award in awards %}
                <div> {{ award_card(award) }} <button class="btn btn-info btn-space" type ="submit" value = {{ award.id }} name="award">{{ v }} Award</button> </div>
                
              {% endfor %}
          </div> 
        </form>
    </div>
  </div>
</div>
{% endblock %}