{% extends 'base.html' %}
{% set active_page = "add_pilot" %}
{% block header %}
  <h1>{% block title %}New Member{% endblock %}</h1>
{% endblock %}

{% block content %}
<div class="container-fluid h-100 bg-light text-dark">

  <div class="row">
    <div class="col border-0">
    </div>

    <div class="col border-0">
      <div class="card">
        <div class="card-header">
          X51 COMMAND
        </div>
        <div class="card-body">
          <h5 class="card-title text-center">Create new X51 member</h5>

          <form method="post" action="">
            <div class="form-group">
              {{ form.username.label }}
              {{ form.username(class="css_class") }}
            </div>
            <div class="form-group">{{ form.join_date.label }} {{ form.join_date(class='datepicker') }}</div>
            <div class="form-group chosen">{{ form.location.label }}: {{ form.location() }}</div>
            <div class="form-group">{{ form.geozone.label }}: {{ form.geozone() }}</div>

            <div class="form-group">{{ form.wt.label }}: {{ form.wt() }}</div>
            <div class="form-group">{{ form.il2.label }}: {{ form.il2() }}</div>
            <div class="form-group">{{ form.dcs.label }}: {{ form.dcs() }}</div>
            <div class="form-group">{{ form.arma.label }}: {{ form.arma() }}</div>
            <div class="form-group">{{ form.req_training.label }}: {{ form.req_training() }}</div>
            <div class="form-group">{{ form.submit() }}</div>
          </form>
        </div>
      </div>
    </div>
    <div class="col border-0"></div>
  </div>
</div>

{% endblock %}