{% extends 'base.html' %}
{% set active_page = "add_training" %}
{% import 'bootstrap/wtf.html' as wtf %} 

{% block header %}

{% endblock %}

{% block content %}
{% if form.errors %}
    {{ form.errors }}
{% endif %}

<h2 class="card-header">Add New Training</h3>
  <div class="row">
    <div class="col border border-info justify-content-center">
        <div class="card">
          <div class="card-body">
            <h5 class= "card-title">Instructions</h5>
            <p class="card-text">
              <ul>
                  <li>Fill in the training details and add a short description. Links to any relevant docs on the HQ google drive can but put in there.</li>
                  <li>Select pilots via their corresponding "Attended", "Advised" or "Missed" buttons.</li>
                  <li>The "on leave" cell will be blue if the pilot is currently on leave and therefore should not be selected with the "missed" button</li>
                  <li>Pilots can be sorted by clicking the column headings, or searched in the search bar on the right. This can be used also to filter by "rank" or by "required training" to better see those who are obliged to attend the training, e.g search "cadet" or "il2"</li>
                  <li>The pilot selection can be reset by clicking the "Reset pilot selection" button on the right if a mistake was made.</li>
              </ul>
            </p>
          </div>
        </div>
    </div>
  </div>
  <div class="row">
    <div class="col border">
        {{ wtf.quick_form(form) }}
      
    </div>
    <div class="col border">
        <div class="alert alert-secondary" id="pilot_update" role="alert" style='visibility: hidden;'>
          <h4 class="alert-heading">Attendees list updated</h4>
          <ul class="list-group">
          <h4><li class="list-group-item list-group-item-success" id="sum_attended"></li></h4>
          <h4><li class="list-group-item list-group-item-warning" id="sum_advised"></li></h4>
          <h4><li class="list-group-item list-group-item-danger" id="sum_missed"></li></h4>
        </ul>
      </div>
    </div>
  </div>
  
  <div class="container text-right">
    <button id = "resetPilots" class="btn btn-warning">Reset Pilot Selection</button>
  </div>

<div>
  <button class="btn btn-info btn-space" id= "collapseBtn" data-toggle="collapse" data-target="#searchdiv">Show Filter Panel</button>
  <div class="searchPanel panel-collapse collapse in" id="searchdiv">
      <div class="alert alert-info" role="alert"><h5>Click on the options in these panels to filter which members you see in the table</h5></div>
  </div>
  <table class="table table-striped table-bordered" style="width:100%"" id="memberTable">
    <thead>
      <tr>
        <th scope="col">id</th>
        <th scope="col">On leave</th>
        <th scope="col">Username</th>
        <th scope="col">Attendance</th>
        <th scope="col">Rank</th>
        <th scope="col">Required Training</th>
        <th scope="col">Geo Zone</th>

      </tr>
    </thead>
    <tbody>
      {% for member in members %}
      <tr class="ident" id="{{ member.id }}">
        <th scope="row">{{ member.id }}</th>
        <td {% if member.on_reserve == True %} style="background-color: #63eaff" {% endif %}>{{ member.on_reserve }}</td>
        <td>{{ member.username }}</td>
        <td>
          <button type="button" class="{{ member.id }} pbtn attended btn btn-success" value={{ member.id }} id="attended_{{ member.username}}">Attended</button>
          <button type="button" class="{{ member.id }} pbtn advised btn btn-warning" value={{ member.id }} id="advised_{{ member.username}}">Advised</button>
          <button type="button" class="{{ member.id }} pbtn missed btn btn-danger" value={{ member.id }} id="missed_{{ member.username}}">Missed</button>
        </td>
        <td>{{ member.pilot_rank }}</td>
        <td>{{ member.req_training }}</td>
        <td>{{ member.geozone }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
<style>
#attendees{display:none;}
label[for=attendees]{display:none;}
</style>


<script type=text/javascript>

let tr_dropdown = $("#sim");

function update_btns(){
    sim = tr_dropdown.val();
    buttons = $(".missed, .advised")
    
    console.log('buttons', buttons)

    $.each(buttons, function(obj){
      $(this).removeClass('disabled');
      $(this).prop("disabled", false);
    })

    
    $.each(buttons, function(obj) {
        if ({{ data_json | safe }}[$(this).val()] !== sim){
          $(this).prop("disabled", true);
        }    
    })
}
//tr_dropdown.change(function() {
 // update_btns()
//});
//because some elements are hidden with the datatable...
$(document).click(function() {
  update_btns()
});
   
 //   $.each($(".missed"), obj){
/*
      if ("{{ data_json | safe }}".obj.val() !== sim){
        obj.attr("disabled", true);
      }
      */

 // }
  
//}
//})


  $(document).ready( function () {
      update_btns()
      $('#memberTable').DataTable({
        searchPane: {
        container: ".searchPanel"
        }
      });
      
  } );

  //recollapse panel after searchPane has loaded
  $( document ).ready(function(){
      $('.collapse').collapse('hide')
  });
  
  //attendee data to put in form
  var attendees_data = {'attended': [], 'advised': [], 'missed': []}
  
  //handle row highlighting and button disabling
  $(".pbtn").click(function(){
    btn = $(this)
    if (btn.hasClass('attended')){
      key = 'attended'
      col = '#d4edda'
    }
    else if (btn.hasClass('advised')){
      key = 'advised'
      col = '#ffeeba'
    }
    else if (btn.hasClass('missed')){
      key = 'missed'
      col = '#f5c6cb'
    }
    v = btn.attr('value')
    attendees_data[key].push(v);  
    $('.'+v).each(function() {
      $(this).prop('disabled', true)
    });
    addPilot(v, col)
    $('#attendees').val(JSON.stringify(attendees_data));  
    $('#pilot_update').css('visibility', '') 
    updateAlert()
  })

  //highlight selected pilot rows
  function addPilot(id, col){
    $(".ident"+"#"+id).css('background-color', col)
  }

  //reset selected pilots and selection styles
  $("#resetPilots").click(function(){
    attendees_data = {'attended': [], 'advised': [], 'missed': []}
    $('.pbtn').each(function(){
      $(this).prop('disabled', false)
    })
    $('.ident').each(function(){
      $(this).css('background-color', '')
    })
    $('#pilot_update').css('visibility', 'hidden')    
    updateAlert()
  })
  
  function updateAlert(){
    keys=['attended', 'advised', 'missed']
    keys.forEach(function(el) {
      $('#sum_'+el).text('Pilots '+el+': '+attendees_data[el].length)
    })
  }
</script>

{% endblock %}

