{% extends 'base.html' %}
{% block header %}
{% endblock %}


{% block content %}
<div class="container">
  <div class="card bg-danger">
    <div card-header style="color: white"><h1>CONFIRM DELETE TRAINING</h1></div>
    <div class="card card-body">
      <h2 class="card-title">Are you sure you want to delete training number {{ tr.id }}?</h2>
      <h4 class="card-text"> This action cannot be undone!</h4>
      <div class="flex-row">
        <form action="{{ url_for('members.delete_training', training_id=tr.id) }}" method=post>
        <input class="btn btn-danger" type=submit value="DELETE"> <a class="btn btn-success" href="{{ url_for('members.training', training_id = tr.id) }}">GO BACK</a> </form> 
      </div>
    </div>
  </div>
</div>
{% endblock %}
