{% extends 'base.html' %}
{% set active_page = "discord" %}
<style>
</style>

{% block content %}
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bokeh/0.13.0/bokeh.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/bokeh/0.13.0/bokeh.min.css" rel="stylesheet">
<div class="container">
  <div class="card">
      <div class = "card-header">
      <h5 class="card-title">Discord Statistics</h5> 
      <p class="card-text">
        User statistics graphs.
      </p>
      {% if current_user.has_role('officer') %}
      <form action="/discord">
      <input {{ btn_status }} class="btn btn-info" type="submit" value="Refresh" formmethod="post">
    </form>
    {% endif %}
     </div>
    <div class="card-body">
      <div class="row">
        <div class="col-6">
          <div id="histogram" style="width:500px;height:500px;"></div>
        </div>
        <div class="col-6">
          <div style="width:500px;height:500px;">{{ pie_div | safe }}</div>
            {{ pie_script | safe }}
        </div>
      </div>
    </div>       
  </div>
  <div>
    <table class="table table-striped table-bordered" style="width:100%">
      <thead>
        <tr>
          <th scope="col">X51 Members</th>
          <th scope="col">Guests & Friends</th>
          <th scope="col">WT Players</th>
          <th scope="col">DCS Players</th>
          <th scope="col">IL-2 Players</th>
          <th scope="col">Arma 3 Players</th>
          </tr>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td> {{ stats.n_x51 }}</td>
          <td> {{ stats.n_guests }}</td>
          <td> {{ stats.n_wt }}</td>
          <td> {{ stats.n_dcs }}</td>
          <td> {{ stats.n_il2 }}</td>
          <td> {{ stats.n_arma }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <table class="table table-striped table-bordered" style="width:100%" id="memberTable">
    <thead>
      <tr>
        <th scope="col">Avatar</th>
        <th scope="col">Name</th>
        <th scope="col">Join Date</th>
        <th scope="col">Top Role</th>
        <th scope="col">X51 Member</th>
        <th scope="col">WT Role</th>
        <th scope="col">DCS Role</th>
        <th scope="col">IL2 Role</th>
        <th scope="col">ARMA Role</th>
      </tr>
    </thead>
    <tbody>
      {% for member in members %}
      <tr>
        <th scope="row"> <img class="avatar" style="width: 80px; height: auto;" src="{{ member.avatar_url }}"></th>
        <td > {{ member.display_name }}</a></td>
        <td>{{ member.joined_at }}</td>
        <td>{{ member.top_role }}</td>
        <td >
          {% if member.x51 == True %}
          <img src="/static/images/logos/x51.png" alt="x51"></img>  
          {% endif %}
        </td>
       <td>
          {% if member.wt == True %}
          <img src="/static/images/logos/wt_logo.png" alt="War Thunder wt"></img> 
          {% endif %} 
        </td>
        <td>
          {% if member.dcs == True %}
          <img src="/static/images/logos/dcs_logo.png" alt="DCS: world dcs"></img> 
          {% endif %} 
        </td>
         <td>
          {% if member.il2 == True %}
          <img src="/static/images/logos/il2_logo.png" alt="IL-2 il2"></img> 
          {% endif %} 
          </td>
          <td>
          {% if member.arma == True %}
          <img src="/static/images/logos/arma_logo.png" alt="arma3 arma"></img> 
          {% endif %} 
          </td>
        
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% include 'footer.html' %}

  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
  
  <script type="text/javascript">
    var layout = {
        title: 'Server growth over time',
        width: 500,
        height: 500

    }
         
    var graphs = {{graphJSON | safe}};
    console.log(graphs.data)
    
    Plotly.plot('histogram',graphs,layout);        

</script>


<script type=text/javascript> 
  $(document).ready( function () {
    $('#memberTable').DataTable({
      'pageLength': 100});
} );
</script>

  {% endblock %}
