{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %} 
{% block header %}
{% endblock %}


{% block content %}
<h1>{% block title %}Edit Training{% endblock %}</h1>

{% if form.errors %}
    {{ form.errors }}
{% endif %}
<div class="container">
    - {{ t.sim }} training logged by 
    {% if t.officers %}
    {{ t.officers[-1].username }}
    {% else %}
      [no record]
    {% endif %}
    -
  <div class="row">
    <div class="col-sm">
      {{ wtf.quick_form(form) }}
    </div>
  </div>
</div>
{% endblock %}