{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %} 

{% block content %}
<h1>{% block title %}Edit Member{% endblock %}</h1>
{% if form.errors %}
    {{ form.errors }}
{% endif %}
<div class="container">
  <div class="row">
    <div class="col-sm">
      {{ wtf.quick_form(form) }}
    </div>
  </div>
</div>
{% endblock %}