{% extends 'base.html' %}

{% block content %}
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

<div class="container">
  <div class="card">
      <div class = "card-header">
      <h5 class="card-title">The X51 Empire</h5>
      <p class="card-text">
        World map of the current members of X51. Hover your cursor over each country to see how many X51 members are from there.
        <br/>
        The map is automatically updated when a new member is added or deleted.
      </p>
     </div>
    <div class="card-body">
      <div id="chart" style="width:1024px;height:800px;"></div>
    </div>
  </div>
</div>
{% include 'footer.html' %}

  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
  
  <script type="text/javascript">
    var layout = {
        title: 'X51 World Map',
            geo: {
                showframe: false,
                projection: {
                    type: 'Mercator'
                }
            }
    }
         
    var graphs = {{graphJSON | safe}};
    
    Plotly.plot('chart',graphs,layout);        

</script>

  {% endblock %}
