{% extends 'base.html' %}
{% from  'macros/macros.html' import training_ref %}


{% block header %}


{% endblock %}

{% block content %}
<h1>{% block title %}X51 Training Log #{{ tr.id }}{% endblock %}</h1>

<div class="card">
	<h2 class="card-header"> REF ID: [ {{ training_ref(tr) }}] </h2>
  <div class="card-body">
    <h5 class="card-title">Description</h5>
    <p class="card-text"> {{ nl2br(tr.description) | safe }}</p>
   </div>
</div><div class="card">
    {% if tr.officers | length > 0 %}
    <h3 class="card-header">Logged by: {{ tr.officers[-1].username }} on {{ tr.date.strftime('%Y-%m-%d') }}</h3>
    {% if tr.officers | length > 1 %}
    Log history: {{ tr.officers | join(", ") }}
    {% endif %}
    {% else %}
    <h3 class="card-header">Logged by: [officer] </h3>
    {% endif %}
    <div class="card-body">
        <table class="table table-striped table-bordered" style="width:100%"" id=" pilotTable">
          <thead>
            <tr>
              <th scope="col">Attendees</th>
              <th scope="col">Advised</th>
              <th scope="col">Missed</th>
            </tr>
          </thead>
          <tbody>

            <tr>
                <td> <ul>{% for p in tr.attendees %}<a class="list-group-item list-group-item-success" href="{{ url_for('members.pilot', pilot_id = p.id) }}">{{ p.username }} </a> {% endfor %}</ul></td>
                <td> <ul>{% for p in tr.advisories %}<a class="list-group-item list-group-item-warning" href="{{ url_for('members.pilot', pilot_id = p.id) }}">{{ p.username }} </a> </li> {% endfor %}</ul></td>
                <td> <ul>{% for p in tr.nonadvisories %}<a class="list-group-item list-group-item-danger" href="{{ url_for('members.pilot', pilot_id = p.id) }}">{{ p.username }} </a> </li> {% endfor %}</ul></td>
            </tr>

          </tbody>
        </table>

      </p>
      {% if current_user.has_role('officer') %}
        <a class="btn btn-danger" href="{{ url_for('members.delete_training', training_id = tr.id ) }}">Delete</a>
      {% endif %}
    </div>
  </div>


  <script type=text/javascript> 
    $(document).ready( function () { 
      $('').DataTable();
    } );
  </script> 
  {% endblock %}
