{% extends 'base.html' %}
{% from  'macros/macros.html' import action %}
{% set active_page = "trainings" %}
{% block content %}
<h1>{% block title %}Trainings{% endblock %}</h1>
<a href="/add_training" id = "addPilot" class="btn btn-success btn-space">Add New Training</a>

<button class="btn btn-info btn-space" id= "collapseBtn" data-toggle="collapse" data-target="#searchdiv">Show Filter Panel</button>
<div class="searchPanel panel-collapse collapse in" id="searchdiv">
    <div class="alert alert-info" role="alert"><h5>Click on the options in these panels to filter the types of trainings you see</h5></div>
</div>
<table class="table table-striped table-bordered" style="width:100%" id="trainingsTable">
    <thead>
      <tr>
        <th scope="col">id</th>
        <th scope="col">Actions</th>
        <th scope="col">Training Date</th>
        <th scope="col">Platform</th>
        <th scope="col">Geo Zone</th>
        <th scope="col">Description</th>
        <th scope="col">Attendees</th>
        <th scope="col">Advised</th>
        <th scope="col">Missed</th>
      </tr>
    </thead>
    <tbody>
      {% for tr in trainings %}
      <tr>
        <th scope="row">{{ tr.id }}</th> 
        <th>
          <a href="/training/{{ tr.id }}">{{ action('view', 'training') }}</a>
          <a href="/training/{{ tr.id }}/edit">{{ action('edit', 'training') }}</a>
          <a href="/delete_training/{{ tr.id }}">{{ action('delete', 'training') }}</i></a>
        </th>
        <td> {{ tr.date.strftime('%Y-%m-%d') }}</td>
        <td> {{ tr.sim}}</td>
        <td> {{ tr.geozone}}
        <td> {{ nl2br(tr.description) | safe }}</td>
        <td> <ul class="list-group">{% for pilot in tr.attendees %}<a href="/pilot/{{ pilot.id }}" class="list-group-item list-group-item-action"> {{ pilot.username }} </a> {% endfor %}</ul></td>
        <td> <ul class="list-group">{% for pilot in tr.advisories %}<a href="/pilot/{{ pilot.id }}" class="list-group-item list-group-item-action"> {{ pilot.username }} </a> {% endfor %}</ul></td>
        <td> <ul class="list-group">{% for pilot in tr.nonadvisories %}<a href="/pilot/{{ pilot.id }}" class="list-group-item list-group-item-action"> {{ pilot.username }} </a> {% endfor %}</ul></td>
      </tr>
      {% endfor %}
      </tbody>
  </table>
  
  
  <script type=text/javascript> 
    $(document).ready( function () {
      $('#trainingsTable').DataTable({
        "order":[[ 0, 'desc' ]], //order training table by ID descending (latest first)
        searchPane: {
        container: ".searchPanel",
        columns: [3,4]
        }
        }); 

  } );
</script>
{% endblock %}
