{% extends 'base.html' %}



{% block content %}

<div class="container">
  <div class="card bg-info">
    <div card-header style="color: white"><h3>Confirm Pilot Warning</h3></div>
    <div class="card card-body">
      <h4 class="card-title">Please message {{ member.username }} on discord and see why they aren't coming to the trainings, or advising.</h4>
      <div class="card-text"> Judgement on whether a warning is actually due is needed here as "warning due" is shown when 3 un-advised misses have been detected since the last warning. However, these may be spread out over a long time period.</div>
      <div class="flex-row">
      <form action="{{ url_for('members.warn_pilot', pilot_id=member.id) }}" method=post>
      <input class="btn btn-warning" type=submit value="Confirm Warned"> <a class="btn btn-success" href="{{ url_for('members.pilot', pilot_id = member.id) }}">Go Back</a> </form> 
    </div>
  </div>
</div>
{% endblock %}